* {
  margin: 0;
  box-sizing: border-box;
  /* background-color: rgb(60, 0, 150); */
  background: radial-gradient(circle, #6802dc, #5404cb);
  padding: 5px;
}

h1,h2{
  color: rgb(22, 167, 153);
  text-align: center;
}
h1{
  text-decoration: underline;
}
h3{
  color: rgb(183, 154, 22)
}
p{
  color: rgb(151, 126, 15);
}

img{
  width: 150px;
  height: 150px;
}