* {
  margin: 0;
  box-sizing: border-box;
  
  /* background: radial-gradient(circle, #6802dc, #5404cb); */
  padding: 5px;
}

body{
  background-color: rgb(181, 173, 194);
}

h1,h2{
  color: rgb(46, 107, 186);
  text-align: center;
}
h1{
  text-decoration: underline;
}
h3{
  color: rgb(22, 21, 14)
}
p{
  color: rgba(31, 29, 19, 0.951);
}

img{
  width: 150px;
  height: 150px;
}